* {
  box-sizing: border-box;
}
html {
  height: 100vh;
  background-color: black;
  color:whitesmoke;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  
  padding: 1em;
  height: 100vh;
}

h1 {
  font-size: 3em;
  margin: 0.05em 0;
}
h2 {
  font-size:2.7em;
  text-align:center;
  margin-block-start: 0.1em;
  margin-block-end: 0;
}
h3{
  font-size:2em;
}
h4.total {
  text-align: center;
  margin-block-end:0;
}
h4.header {
  text-align: center;
  
}
h5 {
  font-size:0.7em;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0em;
  /*margin: 0.25em 0;*/
}


p {
  font-size: 1em;
}

#tooltip {
  display: block;
  height: 50px;
}

path.state {
  stroke: black;
}

.row::after{
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  
  border-left: 10px solid black;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
}

.col-1 {
  width: 30%; 
  height: 85vh; 
  padding-left:0.5em;
  background-color:rgb(41, 45, 49);
}

.col-2 {
  width: 40%; 
  height: 85vh;
  overflow: hidden;
  position: relative;
  background-color:rgb(41, 45, 49);
}
.col2-1{
  display: inline-block;
  width:100%; 
  height:30%;
  position:relative;
  background-color:rgb(41, 45, 49);
}
.col2-r1-c1{
  display: inline-block;
  background-color:rgb(41, 45, 49);
  border-right: 5px solid black;
  width:49.5%;
  height: 100%;
  position:relative;
}
.col2-r1-c2{
  display: inline-block;
  background-color:rgb(41, 45, 49);
  border-left: 5px solid black;
  width:49.5%;
  height: 100%;
  position:relative;
}
.col2-2{
  padding-left:0.5em;
  border-top: 10px solid black;
  width:100%;
  height:70%;
  position:absolute;
  background-color:rgb(41, 45, 49);
}
/*#container {width:100%; height:100%;}*/

.col-3 {
  border-right: 10px solid black;
  width: 30%; 
  height:85vh;
  overflow: hidden;
  position: relative;
}
.col3-1{
  display: block;
  padding-left:0.5em;
  width:100%;
  height:95%;
  position:relative;
  background-color:rgb(41, 45, 49);
  border-bottom:10px black;
}
.col3-2{
  display:inline-block;
  width:100%;
  height:5%;
  position:relative;
}
.col3-2-1{
  padding-left:0.5em;
  display:inline-block;
  width:20%;
  height:100%;
  background-color:rgb(41, 45, 49);
  border-right: 2px dotted white;
  border-left: 2px dotted white;
  border-bottom: 2px dotted white;
  /* border-top:5px solid black; */
  position:relative;
}
.col3-2-2{
  padding-left:0.5em;
  display:inline-block;
  width:20%;
  height:100%;
  background-color:black;
  border-right: 2px dotted white;
  border-left: 2px dotted white;
  border-bottom: 2px dotted white;
  position:relative;
}
@keyframes flash {
  from { background-color: whitesmoke; }
  to { background-color: inherit; }
}
.flash {
  animation: flash 1s ;
}

